#!/bin/bash

# Loops through all directories in the phoronix test-results directory
# Calculates the md5 of results files composite.xml (if present)
# Uploads the results xml file to S3://BUCKET/REGION/INSTANCE/md5(composite.xml).xml
# The renamed XML file contains all necessary data for import into analytical db
for dir in /root/.phoronix-test-suite/test-results/* ; do
	if [ -d $dir ]
	then
		cd $dir
		if [ -f composite.xml ]
		then
			hash=$(md5sum composite.xml | awk '{print $1}')
			s3cmd -c /root/.s3cfg put composite.xml s3://<%= node[:bucket]%>/<%= node[:region]%>/<%= node[:itype]%>/${hash}.xml
		fi
	fi
done